
body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
}

.layer-marker {
    width: 10px;
    height: 10px;
    margin-right: 3px;
    display: inline-block;
}

.point-marker {
    width: 10px;
    height: 10px;
    margin-right: 3px;
    border-radius: 10px;
    display: inline-block;
}

.raster-marker {
    width: 10px;
    height: 10px;
    margin-right: 3px;
    display: inline-block;
}

.button-state .fa-mobile {
    font-size: 20px;
    position: relative;
    bottom: -2px;
}

.swal2-container {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body.swal2-height-auto{
    height: 100%!important;
}

label {
    margin-bottom: 0;
}

.leaflet-control-layers-selector {
    margin-right: 3px;
}

#buttons {
    position: absolute;
    z-index: 600;
    top: 12px;
    left: 50px;
    max-width: calc(100% - 110px);
}