
body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
}

.layer-marker {
    width: 10px;
    height: 10px;
    margin-right: 3px;
    display: inline-block;
}

.point-marker {
    width: 10px;
    height: 10px;
    margin-right: 3px;
    border-radius: 10px;
    display: inline-block;
}

.raster-marker {
    width: 10px;
    height: 10px;
    margin-right: 3px;
    display: inline-block;
}
